/*
Project Name: Arabic for Designers Official Website
Client: Boutros
Author: Boutros
Developer: Soulaf Khalifeh
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
  clear: both;
}

/******************************************
/* CUSTOM FONT
/*******************************************/

@font-face{
	font-family: "tanseek-w21";
	src: url("../fonts/tanseek-w21.eot");
	src: url("../fonts/tanseek-w21.eot?#iefix") format("embedded-opentype"), url("../fonts/6372439e-409e-486f-aa4f-39729a4b8350.woff2") format("woff2"), url("./fonts/a6a5758f-af06-490e-8d05-544482af52eb.woff") format("woff"),url("./fonts/8c49ba91-8edd-4167-acb1-989320a3b9c0.ttf") format("truetype"), url("./fonts/b8253703-76d4-4488-b899-d9a27444220f.svg#b8253703-76d4-4488-b899-d9a27444220f") format("svg");
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Avenir next", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #4A4A4A;
  background: #fff;
}

html {
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	text-align: center;
	font-family: "tanseek-w21";
	font-weight: normal;
	font-style: normal;
	font-size: 6.6rem;
	line-height: 4.25rem;
	margin-bottom: 18px;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #132883;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.375rem;
	font-weight: 400;
}

h4 {
	font-size: 1.75rem;
}

h5 {
	font-size: 1.375rem;
}

h6 {
	font-size: 1.125rem;
}

p {
	font-size: 1.125rem; 
	margin-bottom: 0.6rem;
}

a {
	text-decoration: none;
}

sup {
	font-size: 1rem;
}

.center {
	text-align: center;
}

.is-hidden {
	display: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 85%;
  margin: 0 auto;
}

/******************************************
/* MENU
/*******************************************/

header {
    background: -webkit-linear-gradient(#f4f4f4, #fff); 
    background: -o-linear-gradient(#f4f4f4, #fff); 
    background: -moz-linear-gradient(#f4f4f4, #fff); 
    background: linear-gradient(rgba(244, 244, 244, 0.9), rgba(255, 255, 255, 0.9)); 
	box-shadow: 0 0 5px grey;
	position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 1000;
}

.logo {
	margin: 0 45px;
	display: block;
	margin: 0 auto;
	padding: 14px 10px 19px 10px;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	padding: 0 35px;
	font-size: 0.9rem;
	font-weight: 500;
}

header nav ul li a {
	color: #132883;
}

header nav ul li a:hover {
	color: #FFBC60;
}

.desktop-menu {
	display: none;
	text-align: center;
}

.nav-up {
    top: -70px;
}

/******************************************
/* Main Section | HOME
/*******************************************/


.hero-section {
  	margin: 60px auto 0;
}

.intro {
	margin-top: 25px;
}

.hero-section h2 {
	color: #D0021B;
	text-align: center;
	font-weight: 600;
	font-size: 1.55rem;
	letter-spacing: 0.2px;
}

.hero-section h3 {
	font-weight: 500;
	font-size: 1.2rem;
	color: #02B1B1;
	text-align: center;
	margin-top: 18px;
}

.hero-section p {
	font-size: 1rem;
	line-height: 1.5;
}


/********** CTA BUTTON **********/

.buy-btn {
	display: block;
	background: -webkit-linear-gradient(#00BCBC, #04A1A1f4);
    background: -o-linear-gradient(#00BCBC, #04A1A1);
    background: -moz-linear-gradient(#00BCBC, #04A1A1);
    background: linear-gradient(#00BCBC, #04A1A1);
    border-radius: 30px;
    margin: 23px auto;
    padding: 8px;
   	text-align: center;
   	color: white;
   	font-weight: 400;
   	font-size: 20px;
   	letter-spacing: 0.1rem;
}

@keyframes nudge {
	0% {
		transform: translate(0,0);
	}
	50% {
		transform: translate(0,3px);
	}
	100% {
		transform: translate(0,0);
	}
}

.buy-btn:hover {
	animation-name: nudge;
	animation-duration: 0.4s;
	animation-timing-function: ease-in;
}


/********** COPYRIGHT **********/

.copyright {
	padding-bottom: 15px;
}

.copyright img {
	display: block;
	margin: 0 auto;
}

.copyright p, footer p {
	font-size: 0.7rem;
	text-align: center;
	padding-top: 5px;
	line-height: 2;
	color: #8C8C8C;
}


/******************************************
/* QUOTES
/*******************************************/

.quotes, .cta, .contact-form {
	background-color: #132883;
	color: white;
}

.quotes {
	padding: 60px 0 30px 0;
}

.hero-carousel .quote-box {
	padding-bottom: 40px;
	width: 60%; 
	margin: 0 auto;
}

.quotes h4 {
	font-size: 1.5rem;
	font-weight: normal;
	color: white;
	text-align: center;
	font-style: italic;
	padding-bottom: 15px;
	padding: 0 20px 15px 20px;
}

.quotes p {
	color: #FFBC60;
	text-align: center;
	font-size: 1.125rem;
	padding-bottom: 20px;
}

.slick-prev:before {
	content: "";
}
.slick-next:before {
	content: "";
}

/******************************************
/* SNEAK PEEK
/*******************************************/

img, video {
	max-width: 100%;
}

video {
	display: block;
	margin: 0 auto;
}

*::-webkit-media-controls-panel {
  display: none!important;
 -webkit-appearance: none;
}

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.sneakpeek {
	position: relative;
}

.play-button {
	position: absolute;
	width: 100px;
	height: auto;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/******************************************
/* CONTENTS
/*******************************************/

.contents, .about, .contact-form, .cta {
	padding: 40px 0;
}

.contents h3 {
	padding: 20px 0 3px 0;
}

.left h3:nth-of-type(1) {
	border-bottom: 2px solid #0095A8;
}

.left h3:nth-of-type(2) {
	border-bottom: 2px solid #B53E8B;
}

.left h3:nth-of-type(3) {
	border-bottom: 2px solid #44CBB4;
}

.right h3:nth-of-type(1) {
	border-bottom: 2px solid #D64272;
}

.right h3:nth-of-type(2) {
	border-bottom: 2px solid #0073A4;
}

.right h3:nth-of-type(3) {
	border-bottom: 2px solid #A13943;
}

.chapters {
	margin-top: 20px;
}


/* Styling for the chapter number */

span.chapter {
	color: white;
	padding: 5px 13px;
	border-radius: 10px 0px;
	margin-right: 10px;
	font-size: 90%;
}

.one {
	background-color: #0095A8;
}

.two {
	background-color: #B53E8B;
}

.three {
	background-color: #44CBB4;
}

.four {
	background-color: #D64272;
}

.five {
	background-color: #0073A4;
}

.six {
	background-color: #A13943;
}

/* Styling for plus sign */
.plus {
	color: white;
	width: 24px;
	text-align: center;
	border-radius: 10px 0px;
	font-size: 115%;
	margin-top: -2px;
	margin-left: auto;
	display: block;
}

.plus:hover {
	cursor: pointer;
}

.is-minimised:before {
	content: "+";
}

.is-expanded:before {
	content: "-";
}

/* Styling for expanded content */

.description {
	width: 95%;
}

.description img {
	margin-bottom: 40px;
}

/******************************************
/* CALL-TO-ACTION
/*******************************************/

.cta h2 {
	color: white;
	font-family: 'tanseek-w21';
	font-weight: normal;
	font-size: 5rem;
	line-height: 3.5rem;
	text-align: center;
	margin: 10px 0;
}

.cta h3 {
	color: #BEBEBE;
	font-size: 1.275rem;
	margin-bottom: 40px;
	width: 70%;
	margin: 0 auto;
}

.cta h4 {
	color: #FFBC60;
	font-size: 1.2rem;
	font-weight: 400;
}

.cta ul {
	padding: 0;
	margin-bottom: 0;
}

.cta ul li {
	list-style-type: none;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

.cta ul li:nth-child(1) {
	padding-left: 15px;
}

.cta ul li:nth-child(2) {
	padding-right: 20px;
}

/******************************************
/* ABOUT
/*******************************************/

.about h3 {
	color: #02B1B1;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 20px;
}

.about-box:nth-of-type(2) {
	margin-top: 30px;
}

.readmore a, .readless a {
	font-weight: normal;
	color: #FFBC60;
	float: right;
}

.about-box img {
	margin: 6px 0 10px 0;
	border-radius: 40px 0;
	border-left: 8px solid #132883;
	border-right: 8px solid #132883;
}


/******************************************
/* CONTACT
/*******************************************/

.two-equal-col .two-col-two-third {
	display: block;
}

.contact-form h6 {
	font-weight: 500;
	font-size: 2.2rem;
}

.contact-form p {
	font-weight: 500;
	font-size: 1.875rem;
}

.thank-you p {
	font-size: 1.2rem;
	color: #FFBC60;
}

.contact-form input {
	margin-bottom: 14px;
}

.contact-form textarea {
	height: 138px;
	resize:none;
}

.contact-form button {
	float: right;
	margin-top: 15px;
	border: none;
	width: 97px;
	padding: 5px;
	font-family: "avenir next";
	font-weight: 400;
	font-size: 1rem;
}

input, textarea {
	border: none;
	border-radius: 3px;
	padding: 8.5px;
	display: block;
	width: 100%;
}

[type=text], [type=email] {
	font-family: "avenir next";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
  font-style: italic;
}


/******************************************
/* FOOTER
/*******************************************/

footer {
	margin: 30px 0;
}

/*************** VISUAL HELPER CLASSES ***************/
.hidden {
	opacity: 0;
	position: relative;
	transition: all 1.2s;
}

.hidden.wide {
	width: 0px;
	color: rgba(255, 255, 255, 0);
}

.hidden.top {
  top: 20px;
}

.hidden.menu {
	top: -50px;
}

.hidden.left {
	left: 100px;
}

.is-active {
	opacity: 1;
	position: relative;
	transition: all 1.2s;
}

.is-active.wide {
	width: 185px;
}

.is-active.top {
	top: 0px;
}

div.active:nth-child(1) {
	transition-delay: 0.3s;
}

div.active:nth-child(2) {
	transition-delay: 0.6s;
}

/*************** Back to Top Button ***************/

.sf-back-to-top {
	background-color: #02B1B1; 
    color: white; 
    display: none;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-radius: 50%;
}

a.sf-back-to-top {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2em;
    line-height: 1.4em;
    text-align: center;
    padding: 3px 3px 0 5px;
}

/******************************************
/* RESPONSIVE - MEDIA QUERIES
/*******************************************/

@media screen and (min-width:415px) {
	.two-col-one-third img, img.mobile-image {
		display: none;
	}

	.hero-section h3 {
		margin: 18px 0;
	}

	.quotes h4, .quotes p {
		width: 350px;
		margin: 0 auto;
	}

	.cta ul {
	padding: 0;
	margin-bottom: 0;
	}

	.cta ul li:nth-child(1) {
		float: left;
		padding-left: 0;
	}

	.cta ul li:nth-child(2) {
		float: right;
		padding-right: 0;
	}

	.cta li {
		list-style-type: none;
		display: inline-block;
	}	
}

@media screen and (min-width:515px) {
	.two-col-two-third {
		float: right;
		width: 66.6666%;			
	}

	.two-col-one-third {
		float: left;
		width: 30.3333%;
		margin-right: 3%;
	}

	.two-col-one-third img {
		display: block;
	}
}

@media screen and (min-width:759px) {
	.logo {
		display: inline;
		padding: 0;
		margin: 0 20px;
	}

	.mobile-menu {
		display: none;
	}

	.desktop-menu {
		display: block;
	}

	header nav ul li {
		display: inline-block;
	}

	.quotes h4, .quotes p {
		width: 500px;
	}

	.play-button {
		width: 150px;
	}

	.cta ul {
		margin-top: -60px;
		margin-bottom: 75px;
	}

	.intro p {
		text-align: justify;
	}
}

@media screen and (min-width:759px) and (max-width: 899px) {

	.hero-section {
		background: url("../images/arabic-for-designers-book-cover-3000.jpg") no-repeat top center;
	  	background-size: cover;
	  	width: 759px;
	}

	.intro {
		width: 320px;
		margin-left: auto;
		padding: 2em 0;
	}

	.hero-section h1 {
		font-size: 4rem;
		line-height: 0.8em;
		margin: 0 auto;
	}

	.hero-section h2 {
		font-size: 1.2rem;
		margin: 0 auto;
	}

	.hero-section h3 {
		margin: 6px 0;
	}

	.hero-section p {
		font-size: 1rem;
	}
}

@media screen and (min-width:900px) {
	.logo {
		margin: 0 60px;
	}

	.hero-section {
		background: url("../images/arabic-for-designers-book-cover-3000.jpg") no-repeat top center;
	  	background-size: cover;
	  	width: 900px;
	  	margin: 40px auto 0;
	}

	.intro {
		width: 400px;
		margin-left: auto;
		padding: 4em 0 2em 0;
	}

	.hero-section h2 {
		width: 70%;
		margin: 0 auto;
	}

	.two-equal-col {
		float: left;
		width: 48%;
	}

	.two-equal-col:nth-of-type(1) {
		margin-right: 4%;	
	}

	.quotes h4, .quotes p {
		width: 600px;
	}

	.quotes h4 {
		font-size: 1.8rem;
	}

	.quotes p {
		font-size: 1.35rem;
	}

	.about-box p {
		font-size: 1.155rem;
	}
}

@media screen and (min-width:1103px) {
	html {
		font-size: 16px;
	}

	.hero-section {
		width: 1103px;
	}

	.intro {
		width: 450px;
		padding-top: 4.5em;
	}

	.copyright {
		padding-top: 3em;
	}

	.quotes {
		padding: 80px 0 60px 0;
	}

	.quotes h4, .quotes p {
		width: 700px;
	}

	.container {
		max-width: 75%;
	}

	.contact-form textarea {
		height: 145px;
	}

	sup {
		font-size: 1.2rem;
	}
}

@media screen and (min-width:1295px) and (max-width: 1800px ) {
	video {
		min-width: 100%;
	}
}

@media screen and (min-width:1302px) {
	html {
		font-size: 17px;
	}

	.hero-section {
		width: 1302px;
	}

	.intro {
		width: 520px;
		padding-top: 7em;
	}

	.copyright {
		padding-top: 6em;
	}

	.about-box h3 {
		font-size: 2rem;
	}

	.about-box p {
		font-size: 1.25rem;
	}

	.quotes h4, .quotes p {
		width: 900px;
	}
}

@media screen and (min-width:1540px) {
	html {
		font-size: 18px;
	}

	.hero-section {
		width: 1502px;
	}

	.contact-form textarea {
		height: 155px;
	}
	
	.container {
		width: 1302px;
	}
}

/********************************************************/
